<div class="container">

    <div class="backgroundImage">H</div>

    <div class="calculator">

        <div class="head">

            <h1>Calculadora de hipoteca</h1>
            <p>Calcula tu cuota mensual y el coste total de tu hipoteca.</p>

        </div>


        <div class="content">

            <!-- FORMULARIO -->
            <form class="form" [formGroup]="formDatesBEFOREHipoteca">

                <div class="camp">
                    <label for="priceProperty">Precio del inmueble</label>
                    <div class="input-container">
                        <input id="priceProperty" type="number" placeholder="Ej. 250.000"
                            formControlName="inmueblePrice">
                        <span>€</span>
                    </div>
                </div>

                <div class="campo">
                    <label for="hipo">Cantidad de dinero hipotecado</label>
                    <div class="input-container">
                        <input id="hipo" type="number" placeholder="Ej. 200.000" formControlName="hipotecaPrice">
                        <span>€</span>
                    </div>
                </div>

                <div class="campo">
                    <label for="yearsHipo">Años de hipoteca</label>
                    <div class="input-container">
                        <input id="yearsHipo" type="number" placeholder="Max. 40" formControlName="hipotecaYears">
                        <span>años</span>
                    </div>
                    @if (errorHipotecaYears) {
                        <b><p class="error-message">
                            Años no válidos. Los años de hipoteca no pueden ser superiores a 40.
                        </p></b>
                    }
                </div>

                <div class="campo">
                    <label for="anualInterest">Interés anual</label>
                    <div class="input-container">
                        <input id="anualInterest" type="number" step="0.01" placeholder="Ej. 3.50"
                            formControlName="annualInterest">
                        <span>%</span>
                    </div>
                </div>

            </form>

            <!-- RESULTADOS -->
            <div class="resultados">

                <h2>Resultado de la hipoteca</h2>

                @if (!hipotecaGenerated) {

                    <div class="resultado-principal">
                        <span>Cuota mensual</span>
                        <strong>-- €</strong>
                    </div>


                    <div class="resultados-secundarios">

                        <div class="resultado">
                            <span>Cuota anual</span>
                            <strong>-- €</strong>
                        </div>


                        <div class="resultado">
                            <span>Intereses pagados</span>
                            <strong>-- €</strong>
                        </div>


                        <div class="resultado">
                            <span>Precio final</span>
                            <strong>-- €</strong>
                        </div>

                    </div>

                } @else {

                    <div class="resultado-principal">
                        <span>Cuota mensual</span>
                        <strong>
                            {{ calculateMonth() }} €
                        </strong>
                    </div>


                    <div class="resultados-secundarios">
                        ca
                        <div class="resultado">
                            <span>Cuota anual</span>
                            <strong>
                                {{ calculateYear() }} €
                            </strong>
                        </div>


                        <div class="resultado">
                            <span>Intereses a pagar</span>
                            <strong>
                                {{ interestPaid() }} €
                            </strong>
                        </div>


                        <div class="resultado">
                            <span>Precio final</span>
                            <strong>
                                {{ finalPrice() }} €
                            </strong>
                        </div>

                    </div>

                }

            </div>

        </div>

        <div class="buttons">
            <button type="button" class="btn-generar" (click)="onGeneratedHipoteca()">GENERAR HIPOTECA</button>
            <button type="button" class="btn-volver" routerLink="/aplicaciones">VOLVER</button>
        </div>

    </div>

</div>