.container {
    position: relative;
    z-index: 2;

    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px 40px;
    padding-bottom: 5%;
    padding-top: 6%;

    box-sizing: border-box;
}

.containerMargin {
    width: 100%;
    max-width: 75%;

    display: flex; /* Activa Flexbox para organizar los elementos hijos */
    flex-direction: column; /* Coloca los hijos en vertical (uno debajo de otro) */
    gap: 30px; /* Deja 20px de espacio entre cada hijo directo */
}

.update {
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 12px;

    border-radius: 24px;

    background: linear-gradient(135deg,
            rgba(47, 48, 51, 0.95),
            rgba(41, 46, 63, 0.95));

    border: 1px solid rgba(255, 255, 255, .08);

    backdrop-filter: blur(15px);

    box-shadow:
        0 15px 35px rgba(0, 0, 0, .45);

    transition: all .35s ease;

    font-family: Arial, sans-serif;
}

.containerUpdate:hover {
    transform: translateY(-4px);

    border: 1px solid rgba(100, 140, 255, .25);

    box-shadow:
        0 20px 45px rgba(0, 0, 0, .55),
        0 0 25px rgba(59, 130, 246, .12);
}


.version {
    width: max-content;

    padding: 6px 14px;

    border-radius: 30px;

    background: rgba(255, 255, 255, .95);

    color: #222;

    font-size: 11px;
    font-weight: 700;

    letter-spacing: .8px;
}


.titule {
    font-size: 24px;

    font-weight: bold;

    color: white;

    line-height: 1;
}


.explication {
    color: rgba(255, 255, 255, .75);

    font-size: 14px;

    line-height: 1.6;
}


.state-proximamente {

    align-self: flex-end;

    padding: 8px 18px;

    border-radius: 30px;

    background: #ff2e2e;

    color: white;

    font-size: 12px;

    font-weight: bold;

    box-shadow:
        0 0 15px rgba(255, 46, 46, .4);
}

/*responsive*/
@media (max-width: 768px) {

    .containerMargin {
        margin-top: 25%;
    }

    .update {
        text-align: center;
    }

    .titule {
        margin-top: 5%;

        font-size: 14px;
        line-height: 1.5;
        text-align: center;
    }

    .explication {
        margin-top: 5%;

        font-size: 12px;
    }

    .state-proximamente, .version {
        align-self: center;
    }

    .state-proximamente {
        margin-top: 5%;
    }
}