<div class="topBar">

    <button class="home" (click)="goHome()">
        <img src="assets/logosExtras/homeLogo.png" alt="Home">
    </button>

    <div class="optionsSelection">
        <button type="button" (click)="navegateQUIENSOY()">QUIÉN SOY</button>
        <button type="button" (click)="navegateEXPERIENCIALABORAL()">EXPERIENCIA LABORAL</button>
        <button type="button" (click)="navegateESTUDIOS()">ESTUDIOS</button>
        <button type="button" (click)="navegatePROYECTOS()">PROYECTOS</button>
        <button type="button" (click)="navegateAPLICACIONES()">APLICACIONES</button>
        <button type="button" (click)="navegateSOBREMIWEB()">SOBRE MI WEB</button>
        <button type="button" (click)="navegateACTUALIZACIONES()">ACTUALIZACIONES</button>
    </div>

</div>