<!-- HEAD -->
<app-option-selection-component />

<div class="container">

    <!-- CONTENT -->
    <div class="companies">


        <!-- OPTIONS -->
        <div class="containerViews">

            <button class="viewButton" [class.active]="vistaSeleccionada === 'TODO'" (click)="seleccionarVista('TODO')">
                TODO
            </button>

            <button class="viewButton viewButtonSOFTWAREENGINNER"
                [class.active]="vistaSeleccionada === 'SOFTWARE ENGINEER'"
                (click)="seleccionarVista('SOFTWARE ENGINEER')">
                SOFTWARE ENGINEER
            </button>

            <button class="viewButton viewButtonSECURITYRESILIENCE"
                [class.active]="vistaSeleccionada === 'SECURITY & RESILIENCE'"
                (click)="seleccionarVista('SECURITY & RESILIENCE')">
                SECURITY & RESILIENCE
            </button>

            <button class="viewButton viewButtonNETWORKENGINEER"
                [class.active]="vistaSeleccionada === 'NETWORK ENGINEER'"
                (click)="seleccionarVista('NETWORK ENGINEER')">
                NETWORK ENGINEER
            </button>

        </div>

        <div class="informationClic">
            PARA + INFORMACIÓN PULSA ENCIMA DE CADA EXPERIENCIA
        </div>


        <!-- TODAS LAS EXPERIENCIAS -->
        @if (vistaSeleccionada === 'TODO') {

        <!-- IBERLEY -->
        <div class="companie companie-IBERLEY">

            <div class="companie-inner">

                <!-- FRONT -->
                <div class="companie-front">
                    <div class="scope">SOFTWARE ENGINEER</div>
                    <p>
                        <img src="assets/logosCompanies/Iberley_logo2.png" alt="">
                    </p>
                    <div class="information-work">
                        <div class="job-title">
                            BACK-END DEVELOPER
                        </div>
                        <div class="job-date">
                            NOVIEMBRE.2025 / MARZO.2026
                        </div>
                        <div class="job-duration">
                            5 MESES
                        </div>
                    </div>
                </div>

                <!-- BACK -->
                <div class="companie-back">
                    <p>
                        En mi día a día trabajo con tecnologías como AWS, Docker, PHP, Symfony, Ubuntu y GitHub.
                        Desarrollo tareas centradas en el análisis y migración de código legacy, la gestión
                        de incidencias y la mejora de aplicaciones empresariales.
                        <br><br>
                        A su vez participo en el mantenimiento de aplicaciones web, la creación de nuevos proyectos, la
                        integración de servicios en la nube como GOOGLE DRIVE y AZURE u otras herramientas como WHATSAPP
                        y el mantenimiento continuo de
                        APIs y sistemas CRM.
                    </p>
                    <div class="technologies">
                        PHP • Symfony • MySQL • AWS • Docker • GitHub
                    </div>
                </div>

            </div>
        </div>

        <!-- ABANCA -->
        <div class="companie companie-ABANCA">

            <div class="companie-inner">

                <!-- FRONT -->
                <div class="companie-front">
                    <div class="scope">SECURITY & RESILIENCE</div>
                    <p>
                        <img src="assets/logosCompanies/Abanca_logo.png" alt="">
                    </p>
                    <div class="information-work">
                        <div class="job-title">
                            BUSINESS CONTINUITY & RESILIENCE ANALYST
                        </div>
                        <div class="job-date">
                            ABRIL.2024 / OCTUBRE.2025
                        </div>
                        <div class="job-duration">
                            1 AÑO Y 7 MESES
                        </div>
                    </div>
                </div>

                <!-- BACK -->
                <div class="companie-back">
                    <p>
                        Comencé optimizando la gestión documental en Google Sheets, con el tiempo terminé
                        especializándome
                        en la matería con la intención de poder desarrollar herramientas las cuales nos ayudaban de
                        manera
                        diaria. Posteriormente pude incorporar programación mediante AppScript (basado en JavaScript) en
                        dichas herramientas, lo que me permitió desarrollar soluciones más eficientes y escalables.
                        <br><br>
                        He participado en la creación de herramientas automatizadas e internas, destacando
                        el proyecto “Gestión de Incidentes”, donde trabajé en la lógica de negocio, automatización y
                        fórmulas avanzadas de Google Sheets, todo esto bajo la Normativa Dora la cual marcó un antes y
                        un
                        después.
                        Otro de los proyectos a destecar es el DRP (Plan de Recuperación ante Desastres), en este caso
                        me
                        encargué del diseño y funcionamiento de al herramienta utilizada en el dicho plan. A su vez
                        también
                        trabajé en la gestión y ejecución del mismo.
                        <br><br>
                        Otras de mis tareas era elaborar de planes de continuidad de negocio, elaborar BIAs, gestión de
                        crisis
                        y documentos formativos, contribuyendo a garantizar la resiliencia y continuidad operativa de la
                        organización.
                        <br><br>
                        Mi objetivo ha sido siempre mejorar procesos, optimizar la operativa y garantizar la continuidad
                        del servicio mediante soluciones eficientes y escalables.
                    </p>
                    <div class="technologies">
                        Dora • Planes de Crisis • BIAs • ISO 22301 • Google Sheets • AppScript • Automatización
                    </div>
                </div>

            </div>
        </div>

        <!-- GRUPO BARREIRO -->
        <div class="companie companie-GRUPOBARREIRO">

            <div class="companie-inner">

                <!-- FRONT -->
                <div class="companie-front">
                    <div class="scope">NETWORK ENGINEER</div>
                    <p>
                        <img src="assets/logosCompanies/GrupoBarreiro_logo.png">
                    </p>
                    <div class="information-work">
                        <div class="job-title">
                            IT ENGINEER & INFRASTRUCTURE SPECIALIST
                        </div>
                        <div class="job-date">
                            ENERO.2022 / JUNIO.2022
                        </div>
                        <div class="job-duration">
                            6 MESES
                        </div>
                    </div>
                </div>

                <!-- BACK -->
                <div class="companie-back">
                    <p>
                        Configuración y mantenimiento de redes, soporte técnico, resolución de incidencias y
                        mantenimiento de equipos informáticos dentro del entorno empresarial.
                    </p>
                    <div class="technologies">
                        Cisco • Redes • Windows • Hardware
                    </div>
                </div>

            </div>
        </div>

        }

        <!-- SOFTWARE ENGINEER -->
        @if (vistaSeleccionada === 'SOFTWARE ENGINEER') {
        <!-- IBERLEY -->
        <div class="companie companie-IBERLEY">

            <div class="companie-inner">

                <!-- FRONT -->
                <div class="companie-front">
                    <div class="scope">SOFTWARE ENGINEER</div>
                    <p>
                        <img src="assets/logosCompanies/Iberley_logo2.png" alt="">
                    </p>
                    <div class="information-work">
                        <div class="job-title">
                            BACK-END DEVELOPER
                        </div>
                        <div class="job-date">
                            NOVIEMBRE.2025 / MARZO.2026
                        </div>
                        <div class="job-duration">
                            5 MESES
                        </div>
                    </div>
                </div>

                <div class="companie-back">
                    <p>
                        En mi día a día trabajo con tecnologías como AWS, Docker, PHP, Symfony, Ubuntu y GitHub.
                        Desarrollo tareas centradas en el análisis y migración de código legacy, la gestión
                        de incidencias y la mejora de aplicaciones empresariales.
                        <br><br>
                        A su vez participo en el mantenimiento de aplicaciones web, la creación de nuevos proyectos, la
                        integración de servicios en la nube como GOOGLE DRIVE y AZURE u otras herramientas como WHATSAPP
                        y el mantenimiento continuo de
                        APIs y sistemas CRM.
                    </p>
                    <div class="technologies">
                        PHP • Symfony • MySQL • AWS • Docker • GitHub
                    </div>
                </div>

            </div>
        </div>
        }

        <!-- SECURITY & RESILIENCE -->
        @if (vistaSeleccionada === 'SECURITY & RESILIENCE') {
        <!-- ABANCA -->
        <div class="companie companie-ABANCA">

            <div class="companie-inner">

                <!-- FRONT -->
                <div class="companie-front">
                    <div class="scope">SECURITY & RESILIENCE</div>
                    <p>
                        <img src="assets/logosCompanies/Abanca_logo.png" alt="">
                    </p>
                    <div class="information-work">
                        <div class="job-title">
                            BUSINESS CONTINUITY & RESILIENCE ANALYST
                        </div>
                        <div class="job-date">
                            ABRIL.2024 / OCTUBRE.2025
                        </div>
                        <div class="job-duration">
                            1 AÑO Y 7 MESES
                        </div>
                    </div>
                </div>

                <!-- BACK -->
                <div class="companie-back">
                    <p>
                        Comencé optimizando la gestión documental en Google Sheets, con el tiempo terminé
                        especializándome
                        en la matería con la intención de poder desarrollar herramientas las cuales nos ayudaban de
                        manera
                        diaria. Posteriormente pude incorporar programación mediante AppScript (basado en JavaScript) en
                        dichas herramientas, lo que me permitió desarrollar soluciones más eficientes y escalables.
                        <br><br>
                        He participado en la creación de herramientas automatizadas e internas, destacando
                        el proyecto “Gestión de Incidentes”, donde trabajé en la lógica de negocio, automatización y
                        fórmulas avanzadas de Google Sheets, todo esto bajo la Normativa Dora la cual marcó un antes y
                        un
                        después.
                        Otro de los proyectos a destecar es el DRP (Plan de Recuperación ante Desastres), en este caso
                        me
                        encargué del diseño y funcionamiento de al herramienta utilizada en el dicho plan. A su vez
                        también
                        trabajé en la gestión y ejecución del mismo.
                        <br><br>
                        Otras de mis tareas era elaborar de planes de continuidad de negocio, elaborar BIAs, gestión de
                        crisis
                        y documentos formativos, contribuyendo a garantizar la resiliencia y continuidad operativa de la
                        organización.
                        <br><br>
                        Mi objetivo ha sido siempre mejorar procesos, optimizar la operativa y garantizar la continuidad
                        del servicio mediante soluciones eficientes y escalables.
                    </p>
                    <div class="technologies">
                        Dora • Planes de Crisis • BIAs • ISO 22301 • Google Sheets • AppScript • Automatización
                    </div>
                </div>

            </div>
        </div>
        }

        <!-- NETWORK ENGINEER -->
        @if (vistaSeleccionada === 'NETWORK ENGINEER') {
        <!-- GRUPO BARREIRO -->
        <div class="companie companie-GRUPOBARREIRO">

            <div class="companie-inner">

                <!-- FRONT -->
                <div class="companie-front">
                    <div class="scope">NETWORK ENGINEER</div>
                    <p>
                        <img src="assets/logosCompanies/GrupoBarreiro_logo.png">
                    </p>
                    <div class="information-work">
                        <div class="job-title">
                            IT ENGINEER & INFRASTRUCTURE SPECIALIST
                        </div>
                        <div class="job-date">
                            ENERO.2022 / JUNIO.2022
                        </div>
                        <div class="job-duration">
                            6 MESES
                        </div>
                    </div>
                </div>

                <!-- BACK -->
                <div class="companie-back">
                    <p>
                        Configuración y mantenimiento de redes, soporte técnico, resolución de incidencias y
                        mantenimiento de equipos informáticos dentro del entorno empresarial.
                    </p>
                    <div class="technologies">
                        Cisco • Redes • Windows • Hardware
                    </div>
                </div>

            </div>
        </div>
        }

    </div>

</div>
